.header{
  height: 50rem;
}

.headerBG {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.432) 99.99%, rgba(252, 252, 252, 0) 100%), url(../../assets/headerBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

@media screen and (max-width: 707px) {
  .header {
    height: 400px;
  }

  .headerBG {
    width: 100%;
  }
}